.BannerP, .BannerResume{
    text-align: center;
    font-size:20px;
    color:darkturquoise;
    font-weight: bold;
    padding:10%;
}

.BannerP{
    background: url(../images/alligator_50.webp);
    @media screen and (max-width: 463px) {
        background: url(../images/alliMobile.webp);
    }
}

.BannerResume{
    background: url(../images/progress.webp);
    @media screen and (max-width: 463px) {
        background: url(../images/progress.webp);
    }
}