.actual_project{
    display: flex;
    align-items: center;
    flex-direction: column;
.carousel{
    padding:20px 0px;
    display: flex;
    align-items: center;
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        position:relative;
        animation: appear 1s ease-in-out;
        @media screen and (max-width:800px) and (min-width:400px){
            
        }
        img{
            height:200px;
            object-fit: cover;
            width:98vw;
            @media screen and (max-width:800px) and (min-width:400px){
                height:170px;
            }
            @media screen and (max-width:400px) and (min-width:200px){
                height:160px;
                width:82vw;
            }
        }
        h2,a{
            position:absolute;
        }
        h2{
            top:50%;
            @media screen and (max-width:400px) and (min-width:200px){
                display: none;
            }
        }
        a{
            top:82%;
            @media screen and (max-width:400px) and (min-width:200px){
                top:67%;
            }
        }
    }
    }
.bullets{
    display: flex;
    gap:10px;
    @media screen and (max-width:800px) and (min-width:400px){
            gap:40px;
    }
    .bullet{
        background-color: white;
        padding-block: 3px;
        padding-inline: 6px;
        border-width: 0px;
        border-style: outset;
        border-color: white;
        border-image: initial;
        cursor:pointer;
        border-radius: 6px;
        @media screen and (max-width:800px) and (min-width:400px){
            padding-inline: 16px;
    }
    }
}
}

@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
