.titleAndNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #121b2b;
    background: #f0ebeb;
    .Title{
        h1{
            font-family: 'Roboto', sans-serif;
            display: flex;
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: 300;
            font-size: 48px;
        }
    }
    .iconContainer{
        display:flex;
        width:34%;
        .navList{
            display:flex;
            flex-direction: row;
            list-style-type: none;
            gap: 10%;
            width:100%;
            li{
                font-size:23px;
                padding:10px;
                &:hover{
                    color:white;
                    background-color: black;
                }
            }
        }
    }
}