body{
    font-family: 'Roboto', sans-serif;
}
.mainContainer
{
    position: relative;
    background-color: blue;
    animation: back 6s linear;
    z-index: 5;
}

.loaderC
{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.loader-line-horizontal,
.loader-line-vertical 
{
    height: 2px;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 0;
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    animation: loader-animation 4s linear infinite;
}

.loader-line-vertical {
  transform: rotate(90deg);
}

@keyframes loader-animation {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 0;
    transform: scale(0.5) ;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes back{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
/***end-loader***/
