body{
    font-family: "Kode Mono", monospace;
}
.mainContainer
{
    position: relative;
    animation: back 6s linear;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

h1{
    font-size:27px;
}
.svg-inline--fa {
    height: 1.7em;
    transition: transform 0.2s ease; 
}

.svg-inline--fa:hover,
.svg-inline--fa:active { 
    transform: translateY(-2px); 
}
.loaderC {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderC::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0d1c56, #01071b);
}
.loader-line-horizontal,
.loader-line-vertical,
.loader-line-C {
    position: absolute;
}

.loader-line-horizontal,
.loader-line-vertical {
    width: 20px; 
    height: 2px;
}

.loader-line-vertical {
    width: 2px;
    height: 20px; 
}

.loader-line-C {
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    animation: drawC 4s ease-in-out forwards;
    transition: transform 2s;
}

@keyframes drawC {
    0% {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
        opacity:0;
        transform: rotate(0deg);
    }
    10%{
        border-top: 20px solid white;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
        opacity:1;
        transform: rotate(0deg);
    }
    25% {
        border-top: 20px solid transparent;
        border-right: 20px solid white;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
        opacity:1;
        transform: rotate(0deg);
    }
    50% {
        border-top: 20px solid white;
        border-right: 20px solid transparent;
        border-bottom: 20px solid white;
        border-left: 20px solid transparent;
        opacity:1;
        transform: rotate(0deg);
    }
    65% {
        border-top: 20px solid white;
        border-right: 20px solid transparent;
        border-bottom: 20px solid white;
        border-left: 20px solid white;
        opacity:0.7;
        transform: rotate(0deg);
    }
    75% {
        border-top: 20px solid white;
        border-right: 0px;
        border-bottom: 20px solid white;
        border-left: 20px solid white;
        width: 40px;
        height: 40px;
        opacity:0.7;
        transform: rotate(360deg);
    }
    85%{
        border-top: 20px solid white;
        border-right: 0px;
        border-bottom: 20px solid white;
        border-left: 20px solid white;
        width: 40px;
        height: 40px;
        opacity:0.7;
        transform: rotate(360deg);
    }
    95% {
        border-top: 20px solid white;
        border-right: 0px;
        border-bottom: 20px solid white;
        border-left: 20px solid white;
        width: 40px;
        height: 40px;
        opacity:0;
    }
    100% {
        border-top: 20px solid white;
        border-right: 0px;
        border-bottom: 20px solid white;
        border-left: 20px solid white;
        width: 40px;
        height: 40px;
        opacity:0;
    }
}

@keyframes back{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: blinkStar 5s infinite alternate;
}

@keyframes blinkStar {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    40% {
        opacity: 0;
        transform: scale(0.2);
    }
    60% {
        opacity: 0.7;
        transform: scale(1);
    }
    80% {
        opacity: 0.4;
        transform: scale(0.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.star1 {
    top: 50%;
    left: 10%;
}

.star2 {
    top: 20%;
    left: 30%;
}

.star3 {
    top: 70%;
    left: 70%;
}
/***end-loader***/

