body{
    font-family: 'Roboto', sans-serif;
}
.mainContainer
{
    position: relative;
    animation: back 6s linear;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.loaderC
{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader-line-horizontal,
.loader-line-vertical,
.loader-line-C {
    position: absolute;
    background-color: white; /* ou toute autre couleur désirée */
}

.loader-line-horizontal,
.loader-line-vertical {
    width: 20px; /* ou toute autre dimension désirée */
    height: 2px;
}

.loader-line-vertical {
    width: 2px;
    height: 20px; /* ou toute autre dimension désirée */
}

.loader-line-C {
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    animation: drawC 2s ease-in-out forwards;
}

@keyframes drawC {
    0% {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
    }
    25% {
        border-top: 20px solid black;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
    }
    50% {
        border-top: 20px solid transparent;
        border-right: 20px solid black;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
    }
    75% {
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid black;
        border-left: 20px solid transparent;
    }
    100% {
        border-top: 20px solid black;
        border-right: 0px;
        border-bottom: 20px solid black;
        border-left: 20px solid black;
        width: 40px;
        height: 40px;
    }
}

@keyframes back{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
/***end-loader***/
