.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #121b2b;
    background: #C9D6FF;
    margin:20px 0px 20px 0px;
    .navList{
        display:flex;
        flex-direction: row;
        list-style-type: none;
        gap: 10%;
        width:100%;
        a{
            text-decoration: none;
            font-size:23px;
            padding:10px;
            color:black;
            &:active {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            &:hover{
                color:white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
    }
