.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:20px;
    .navList{
        display:flex;  
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        list-style-type: none;
        gap: 8%;
        width:100%;
        color:white;
        padding:0px 20px 0px 20px;
        @media screen and (min-width: 1080px) {
            gap:0%;
        }
        a{
            text-decoration: none;
            cursor:pointer;
            font-size:20px;
            padding:15px;
            position: relative;
            overflow: hidden;
            color:white;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px; 
                background-color: white;
                transition: width 0.5s ease; 
            }
            &::before {
                top: 0;
                left: 0;
            }
            &::after {
                bottom: 0;
                right: 0;
            }
            &:hover::before,
            &:hover::after {
                width: 100%;
            }
        }
    }
    &.fixed-nav {
        position: fixed;
        background-color: black;
        top: 0;
        width: 100%;
        z-index: 1000;
        margin:0px 0px 20px 0px;
        a{
            color:white;
        }
      }
    }


