.welcomeContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    margin:20px 20px 20px 20px;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        justify-content: space-around;
    }
    .helloAndContactContainer{
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:20px;
        }
        .iconContact{
            display: flex;
            gap:20px;
            a{
                color: white;
                cursor: pointer;
                text-decoration: none;
            }
        }   
        p{
            font-size: 27px;
            font-weight:bold;
            @media screen and (max-width: 700px) {
                font-size:19px;
                text-align: center;
            }
        }
}
}
.imgTransition{
    box-shadow:1px 5px 8px white;
    border-radius: 20px;
    object-fit: cover;
    width:21%;
    transition: fadeOutAnimation 3s ease;
    @media screen and (min-width:461px) and (max-width:700px) {
        width:40%;
        margin:30px;
    }
    @media screen and (max-width: 460px) {
        width:61%;
        margin:30px;
    }
}


.starw {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: blinkStar 5s infinite alternate,fadeOutStars 5s ease-in-out;
}

@keyframes blinkStar {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    40% {
        opacity: 0;
        transform: scale(0.2);
    }
    60% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutStars {
    0% {
        top: 2%;
        left: 10%;
    }
    20% {
        top: 3%;
        left: 10%;
    }
    40% {
        top: 4%;
        left: 10%;
    }
    60% {
        top: 5%;
        left: 10%;
    }
    80% {
        top: 6%;
        left: 10%;
    }
    100% {
        top: 8%;
        left: 10%;
    }
}
.starw1 {
    top: 98vh;
    left: 10%;
}

.starw2 {
    top: 98vh;
    left: 30%;
}

.starw3 {
    top: 98vh;
    left: 70%;
}
/***end-loader***/
