.welcomeContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    margin:20px 20px 20px 20px;
    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
    .helloAndContactContainer{
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .iconContact{
            display: flex;
            gap:20px;
            a{
                color: white;
                cursor: pointer;
                text-decoration: none;
            }
        }   
        p{
            font-size: 27px;
            font-weight:bold;
            @media screen and (max-width: 700px) {
                font-size:16px;
            }
        }
}
}
.imgTransition{
    box-shadow:3px 5px 32px white;
    border-radius: 20px;
    object-fit: cover;
    width:21%;
    transition: fadeOutAnimation 3s ease;
    @media screen and (max-width: 700px) {
        width:34%;
        margin:30px;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity:0.6;
    }
    60%{
        opacity:0.4;
    }
    80%{
        opacity:0.2;
    }
    100% {
        opacity: 0;
    }
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: blinkStar 5s infinite alternate;
}

@keyframes blinkStar {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    40% {
        opacity: 0;
        transform: scale(0.2);
    }
    60% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.star1 {
    top: 50%;
    left: 10%;
}

.star2 {
    top: 20%;
    left: 30%;
}

.star3 {
    top: 70%;
    left: 70%;
}
/***end-loader***/
